<div class="main-content">
    <h1>Hello John</h1>
    <div class="top-container" fxLayout="row"  fxLayout.md="row"  fxLayout.sm="column" fxLayout.xs="column"
      fxLayoutGap="3%" fxLayoutAlign="center" fxLayoutWrap>
      <div fxFlex="40%">
        <app-left-chart></app-left-chart>
      </div>
      <div fxFlex="60%">
        <app-right-chart></app-right-chart>
      </div>
    </div>
    <div class="bottom-ontainer" fxLayout="row"  fxLayout.md="row"  fxLayout.sm="column" fxLayout.xs="column"
      fxLayoutGap="3%" fxLayoutAlign="center" fxLayoutWrap>
      <div fxFlex="33%">
        <app-tasks></app-tasks>
      </div>
      <div fxFlex="33%">
        <app-messages></app-messages>
      </div>
      <div fxFlex="33%">
        <app-activity></app-activity>
      </div>
    </div>
</div>

